header {
    background-color: rgb(240, 240, 235);
    justify-content: center;
    align-items: center;

}


/* style.css - Apenas para visualização inicial */

.col-12,
.col-md-6,
.col-lg-4 {

    border: 1px solid rgb(240, 240, 235);
    min-height: 100px;
    background-color: #f8f9fa;
    max-width: 20%;
}

header img {
    /* Define a imagem como um elemento de bloco para que o margin: auto funcione */
    display: block;
    /* Centraliza a imagem horizontalmente */
    margin-left: auto;
    margin-right: auto;
    /* Adicione um espaçamento opcional acima e abaixo, se desejar */
    margin-top: 10px;
    margin-bottom: 10px;

    /* DICA: Defina uma largura máxima para a imagem para garantir que ela não quebre o layout em telas grandes */
    max-width: 100%;
    height: auto;
}

/* PASSO 2: CSS para diminuir a ALTURA */
#meuCarrossel .carousel-item img {
    /* Defina a altura máxima que você deseja para o carrossel */
    max-height: 450px;

    /* Isso garante que a imagem cubra a área sem distorcer, cortando o excesso */
    object-fit: cover;
    object-position: center;
    /* Centraliza a imagem no corte */
}

.carousel-spacing {
    /* Exemplo: 60 pixels acima e 60 pixels abaixo */
    margin-top: 60px; 
    margin-bottom: 60px;
}

.container{
    font-family: monospace;
}